# Virtual environments
.venv/
.MLops1/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model artifacts / large files (optional)
*.pth
*.pt
*.bin

# Data & logs (real artifacts, not example samples)
data/
logs/
